<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>
    <h1>Reset Password</h1>
    <form id="resetForm">
        <input type="password" id="newPassword" placeholder="New Password" required />
        <input type="password" id="confirmPassword" placeholder="Confirm New Password" required />
        <button type="submit">Reset Password</button>
    </form>
    <script>
        const resetForm = document.getElementById('resetForm');
        resetForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            const newPassword = document.getElementById('newPassword').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            const url = window.location.pathname;
            const token = url.substring(url.lastIndexOf('/') + 1);

            const response = await fetch(`/api/user/resetPasswordPage/${token}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ newPassword, confirmPassword }),
            });

            const result = await response.json();
            alert(result.message || result.error);
        });
    </script>
</body>

</html>